= form_tag action: :send_touch_base, method: :post do
  - params[:collection_selection].each do |signup_id|
    = hidden_field_tag 'collection_selection[]', signup_id

  - if @template_error
    %ul.errors
      %li.error= @template_error
  - elsif @mail_previews
    = render 'mail_previews'
  - else
    = render 'recipient_summary'

  %fieldset.inputs
    %legend
      %span Message
    %ol
      %li.input.stringish
        = label_tag 'subject', 'Subject'
        = text_area_tag 'subject', params[:subject]
      %li.input.stringish
        = label_tag 'body', 'Body'
        = text_area_tag 'body', params[:body]
    
    Available substitutions:
    %ul
      - SignupsMailerHelper.available_substitutions.each do |sub_name|
        %li %#{sub_name}%

  = submit_tag "Preview Emails", name: 'preview'
  - if @mail_previews
    = submit_tag "Send #{params[:collection_selection].size} Emails"

