- content_for :title do
  Composer Nights – Date selection

.content
  - if params[:new]
    %h2 Hooray!
    %p
      %b You’re now in the Composer Night queue!

    - unless @signup.presenter.mailing_list_subscription_offered
      %p
        If you’re not already on our mailing list, you will receive a Confirm Subscription” email. <b>Please click the confirmation link</b> in that email, or you won’t get announcements about when New Ruckus events are happening.
      %p
        (We <b>will not</b> share your contact information outside The New Ruckus.)
  
  - else
    %p
      #{random_greeting}, <b>#{@signup.presenter.name}</b>.
      You’re in line for a Composer Night!

  = semantic_form_for_signup do |f|

    %h2 Date Choices

    %p
      When would you like to share your music?
    %p
      You don’t have to choose a date right away. Take as long as you want!
    %p
      Just one request: if there are dates below you’re pretty sure you won’t want, please mark them “no” now so that we can offer them to other people.

    .date-preferences
      = f.semantic_fields_for :preferences, @signup_prefs do |pref|
        .date-preference
          .date= pref.object.composer_night.start_time.strftime('<b>%b</b> %d (%a)<br>%l:%M<span class="ampm">%P</span>').html_safe
          
          .statuses<>
            - SignupPreference::VISIBLE_STATUSES.each do |status|
              = pref.label "status_#{status}", class: "status #{status}" do
                = pref.radio_button :status, status
                = status
          
          .status-messages
            .status-message.yes   I’ll take it if it’s available!
            .status-message.maybe Give me some time to figure out if this date works.
            .status-message.no    Go ahead and offer this date to the others who are after me in line.
            - if @signup_updated
              .status-message.unknown
                .inline-error What about this date?

  
    = f.input :comments, hint: 'Any special instructions? Questions or concerns?'

    = f.submit 'Save Changes'
