- content_for :title do
  - if params[:new]
    Composer Nights – You’re Signed Up
  - else
    Composer Nights – Your info

.content
  - if params[:new]
    %h2 Hooray!
    %p
      %b You’re now in the Composer Night queue!
    %p
      If you’re not already on our mailing list, you will receive a confirmation email from Mailchimp. Please <b>click the confirmation link in that email</b>, or you won’t get our announcements.
    %p
      (We will not share your contact information outside The New Ruckus.)
  - else
    %p
      You’re in line for a Composer Night!

  = semantic_form_for @signup, url: signup_path do |f|

    - unless @signup.composer_night
      %h2 Date Choices
      .date-preferences
        = f.fields_for :preferences do |p|
          - ComposerNight.upcoming.includes(:signups).each do |event|
            - unless event.full?
              - pref = @signup.preference_for(event)
              = p.fields_for event.id.to_s, pref do |q|
                .date-preference
                  .date= event.start_time.strftime('<b>%b</b> %d (%a)<br>%l:%M<span class="ampm">%P</span>').html_safe
                  
                  .statuses<>
                    - SignupPreference::STATUSES.each do |status|
                      = q.label "status_#{status}", class: "status #{status}" do
                        = q.radio_button :status, status
                        = status
                  
                  .status-messages
                    .status-message.yes   I’ll take it if it’s available!
                    .status-message.maybe Give me some time to see if this date works.
                    .status-message.no    Go ahead and offer this date to the others who are after me in line.

    %h2 Bio
