- show_info ||= false

%li.signup
  %b= signup.presenter.name
  (
  = link_to 'public', edit_signup_path(token: signup.access_token)
  |
  = link_to 'admin', edit_admin_signup_path(signup)
  )

  .notes=          signup.comments
  .notes.internal= signup.internal_notes
  - if show_info
    - if signup.scheduled?
      .info-checklist
        - %w(title performers approx_length description special_needs).each do |attr|
          .info{class: signup.send("#{attr}?") ? 'present' : 'absent'}
            = attr.humanize
    - else
      .info-checklist
        - signup.preferences_for_upcoming.each do |pref|
          .info.status{class: pref.status}= pref.status
