= make_paragraphs(@opts[:opening_message] || 'You are scheduled to perform at a New Ruckus Composer Night:')

- missing_info_urgent = @signup.composer_night.start_time < 4.days.from_now

= render 'time_and_location'
= render 'info_provided' unless missing_info_urgent
= render 'required_info_missing'
= render 'optional_info_missing'
= render 'info_provided' if missing_info_urgent
= render 'edit_info'

= make_paragraphs(@opts[:closing_message] || 'Looking forward to hearing your music!')

= render 'sig'
