- event = ComposerNight.next
- if event
  .block
    %h2 Next event
    %p.date
      = event.start_time.strftime('%A, %B %-d')
      %br
      = event.start_time.strftime('%l:%M')
      %span.ampm>= event.start_time.strftime('%P')
    
    - if event.presenters.any?
      Featuring the music of:
      %ul
      - event.presenters.each do |presenter|
        %li.presenter
          = link_to_if presenter.url?, presenter.name, presenter.url
    - unless event.full?
      %p.mini
        Have some music to share?
        %br
        - if event.slots_open == 1
          There is still <a href="#{signup_path}">one spot left</a>!
        - elsif event.presenters.empty?
          Be bold! <a href="#{signup_path}">Sign up</a>!
        - else
          There are still <a href="#{signup_path}">#{event.slots_open} spots left</a>!

  = render 'shared/location', location: Location.first

.block
  %h2 Future Composer Nights
  %table.upcoming
    - ComposerNight.upcoming.includes(:signups).each do |future_event|
      %tr
        - note = case future_event.slots_open
          - when 2 then '2 spots left'
          - when 1 then '1 spot left!'
          - when 0 then 'FULL'

        %td.date{colspan: note ? 1 : 2, class: ('no-note' unless note)}
          = future_event.start_time.strftime('%B %-d (%a)')
        - if note
          %td.note= note

.block
  - unless ComposerNight.upcoming.empty?
    Want one of those dates?
    = link_to 'Sign up!', signup_path

.block
  = mailing_list_link 'Get on the mailing list', header: false
  to find out when more are scheduled!


