- event = ComposerNight.next
- if event
  .block
    %h2 Next event
    %p.date
      = event.start_time.strftime('%A, %B %d')
      %br
      = event.start_time.strftime('%l:%M')
      %span.ampm>= event.start_time.strftime('%P')
    
    - unless event.presenters.empty?
      Featuring the music of:
      %ul
      - event.presenters.each do |presenter|
        %li.presenter
          = link_to_if presenter.url?, presenter.name, presenter.url
    - unless event.full?
      %p.mini
        Have some music to share?
        %br
        - if event.slots_open == 1
          There is still <a href="#{composer_night_sign_up_path}">one spot left</a>!
        - elsif event.presenters.empty?
          Be bold! <a href="#{composer_night_sign_up_path}">Sign up</a>!
        - else
          There are still <a href="#{composer_night_sign_up_path}">#{event.slots_open} spots left</a>!

  = render 'shared/location', location: Location.first

.block
  %h2 Future Composer Nights
  %ul
    - ComposerNight.upcoming.each do |future_event|
      %li= future_event.start_time.strftime('%B %d (%a)')

.block
  = mailing_list_link 'Get on the mailing list', header: false
  to find out when more are scheduled!


