- content_for :title do
  Composer Nights


= hero do
  %h1.title Composer Nights
  .subtitle
    A partnership between
    %b= link_to 'Zeitgeist', 'http://www.studiozstpaul.com/'
    and
    %b= link_to 'The New Ruckus', root_url

.mongo= link_to 'Sign Up', signup_path

.content
  %aside.sidebar
    = render 'composer_night_upcoming'

  %p
    New Ruckus Composer Nights are <b>for people who invent original music</b>. We welcome music in <i>all</i> styles: for us, “composer” includes “songwriter,” “improviser,” “sound artist,” and every other kind of original musical creation. We welcome music at all stages of the creative process: a grand premiere, a work in progress, a risky test run, or a polished old favorite. We welcome artists of all backgrounds, races, genders, ages, sexual orientations, and cognitive and artistic dispositions.
  %p
    Our golden rule: if you think it’s music and you invented it, we want to hear it!
  %p
    Composer Nights are <b>for people who love listening to music</b> to encounter strange and beautiful sounds while they are still new, and to talk face to face with the people who create them. Does new music sound intimidating? Worried you won’t “get it?” Worry not! You will never find a more welcoming space for listening, where you can be surprised, bewildered, and delighted just as you are.
  %p
    These events are friendly, fun, and always surprisingly varied. We strive to make them welcoming and inclusive for everyone.
  %p
    Composer Nights are always <b>free</b> and open to the public. No ticket needed!
  %p
    Come to share, come to ask, come to listen.

  %section

    %h2 What’s the format?
    
    %p
      Four (±) composers present their work, and then chat with the audience. Some ask for critical feedback. Others simply want their work to be heard, and to connect with others with a passion for musical adventure.
    %p
      Afterwards, we hang out at Studio Z and socialize. It’s always a fascinating crowd!
    
  %section

    %h2 Who can present their music?
    
    %p
      Anyone! It’s first come, first served.
    %p
      Although they’re called “Composer Nights,” these events are for <i>all</i> people who invent new music: improvisers, songwriters, sound artists, and those seeking refuge from categorization. The Semantic Police are not on duty here.
    %p
      There are no genre or style limitations. There is no audition or application. There is no background check or blood test. <b>All are welcome.</b>
    %p
      The only requirements:
    %ul
      %li It must be your original music.
      %li It must fit the time and space constraints.
      %li You must provide your own performers, and any instruments not available at Studio Z.
    %p
      Full guidelines are on the <b><a href="#{signup_path}">sign-up page</a></b>.
      Go for it! You can get in line now, and decide what you want to do later.
    %p
      Questions?
      = link_to 'Please ask.', contact_path
    
  %section

    %h2 Who’s behind it?
    
    %p
      <a href="http://www.zeitgeistnewmusic.org/artistic-personnel.php">Heather Barringer</a> has been hosting these events at Studio Z since the beginning in April 2004. 
      <a href="https://innig.net/music/">Paul Cantrell</a>, the artistic director of The New Ruckus, has been the MC and official redhead since 2005.
      <a href="http://www.katherinebergman.net">Katherine Bergman</a> is Studio Z’s star director of marketing.
    %p
      The series was the brainchild of <a href="http://en.wikipedia.org/wiki/Franz_Kamin">Franz Kamin</a>.
      Matthew Smith helped start it, and
      the <a href="http://composersforum.org">American Composers Forum</a> sponsored it for many years (as the “Tuesday Salon”) until The New Ruckus took up the torch.
    .logo-right
      = link_to 'http://www.legacy.leg.mn/funds/arts-cultural-heritage-fund' do
        = image_tag 'mn_legacy_logo.png', alt: 'Arts and Cultural Heritage Fund', width: 138/2, height: 262/2
    .logo-right
      = link_to 'http://mrac.oconnect.com' do
        = image_tag 'mrac_logo.png', alt: 'Metropolitan Regional Arts Council', width: 224/2, height: 160/2
    %p
      Some of the New Ruckus Composer Nights are made possible by the voters of Minnesota through grants from the <a href="http://mrac.oconnect.com">Metropolitan Regional Arts Council</a>, thanks to a legislative appropriation from the <a href="http://www.legacy.leg.mn/funds/arts-cultural-heritage-fund">Arts and Cultural Heritage Fund</a>.
    %p
      And now you know … the rest of the story!

.mongo= link_to 'Sign Up', signup_path
