= hero do
  %h1.title Composer Nights
  .subtitle
    A partnership between
    %b= link_to 'Zeitgeist', 'http://www.studiozstpaul.com/'
    and
    %b= link_to 'The New Ruckus', root_url

%aside.sidebar
  = render 'composer_night_upcoming'

.content
  %p
    New Ruckus Composer Nights are <b>for people who invent original music</b>. If you created it, we want to hear it — whether it’s a grand premiere, a work in progress, a risky test run or a polished old favorite!
  %p
    Composer Nights are
    <b>for people who love listening to music</b> to
    encounter strange and beautiful sounds while they are still new, and to talk face to face with the people who create them.
  %p
    These events are friendly, fun, and always surprisingly varied.
  %p
    Come to share, come to ask, come to listen.

  %section

    %h2 What’s the format?
    
    %p
      Four (±) composers present their work, and then chat with the audience. Some ask for critical feedback. Others simply want their work to be heard, and to connect with others with a passion for musical adventure.
    %p
      Afterwards, we hang out at Studio Z and socialize. It’s always a fascinating crowd! Sometimes people mosey over to <a href="http://blackdogstpaul.com">The Black Dog</a>.
    
  %section

    %h2 Who can present their music?
    
    %p
      Anyone! It’s first come, first served.
    %p
      Although they’re called “Composer Nights,” these events are for <i>all</i> people who invent new music: improvisers, songwriters, sound artists, and those seeking refuge from categorization. The Semantic Police are not on duty here.
    %p
      There are no genre or style limitations. There is no audition or application. There is no background check or blood test. <b>All are welcome.</b>
    %p
      The only requirements:
    %ul
      %li It must be original music.
      %li It must fit the time and space constraints.
      %li You must provide your own performers, and any instruments not available at Studio Z.
    %p
      Full guidelines are on the <b><a href="/composernights/signup">sign-up page</a></b>.
      Go for it! You can get in line now, and decide what you want to do later.
    %p
      Questions?
      = link_to 'Please ask.', contact_path
    
  %section

    %h2 Who’s behind it?
    
    %p
      <a href="http://www.zeitgeistnewmusic.org/artistic-personnel.php">Heather Barringer</a> has been hosting these events at Studio Z since the beginning in April 2004. 
      <a href="http://innig.net/music/">Paul Cantrell</a>, the Artistic Director of The New Ruckus, has been the MC and official redhead since 2005.
      <a href="http://www.michaelpcoyle.com">Mike Coyle</a> helps coordinate the chaos behind the scenes when grant time arrives, and
      <a href="http://www.katherinebergman.net">Katherine Bergman</a> is Studio Z’s star director of marketing.
    %p
      The series was the brainchild of <a href="http://en.wikipedia.org/wiki/Franz_Kamin">Franz Kamin</a>.
      Matthew Smith helped start it, and
      the <a href="http://composersforum.org">American Composers Forum</a> sponsored it for many years (as the “Tuesday Salon”) until The New Ruckus took up the torch.
    %p
      And now you know … the rest of the story!


