
!!!
%html
  %head
    %meta(charset='utf-8')

    %title
      The New Ruckus
      - unless (title = yield(:title)).blank?
        –
        = title
    %link(rel="canonical" href="http://newruckus.org/")
    
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    
    %meta(property="og:site_name" content="The New Ruckus")
    %meta(property="og:title" content="The New Ruckus")
    %meta(property="og:url" content="http://newruckus.org/")
    %meta(property="og:type" content="website")
    %meta(property="og:description" content="A mutual support organization for the people who invent new music. We are composers, improvisers, sound artists and songwriters. Our mission is to help each other achieve a sense of purpose and satisfaction in our musical lives, by providing moral support and practical help in creating our work, getting it heard, and making personal connections through it.")

    %meta(name="description" content="A mutual support organization for the people who invent new music: composers, improvisers, sound artists and songwriters.")
    %link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    /[if lt IE 9]
      = stylesheet_link_tag 'ie', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'html5shiv'
    
    = include_jquery
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-28189810-2', 'auto');
        $(document).on('page:change', function() {
          ga('send', 'pageview', window.location.pathname);
        });
  
  %body{class: body_classes.join(' ')}
    %nav.top
      %ul
        .home
          %li= link_to 'The New Ruckus', root_path
          %li.social
            .spacer
        
        .pages
          %li#activities_popup_nav_item
            = link_to 'Activities', composer_nights_path, 'data-show-popup' => 'activities_popup', 'data-popup-header' => 'activities_popup_nav_item'
          %aside.popup#activities_popup
            %li
              = link_to 'Composer Nights', composer_nights_path
              %p A space for sharing new music.
              %p Come to share, come to ask, come to listen.

            %li
              = link_to 'Music Tech Meetups', music_tech_path
              %p Swap notes on making music using computers.

          
          %li= mailing_list_link 'Mailing List'
          
          %li= link_to 'Contact', contact_path

          .nowrap
            %li.social= social_link :twitter,  "https://twitter.com/NewRuckusMN"
            %li.social= social_link :facebook, "https://www.facebook.com/TheNewRuckus"
      .clr

    - if notice
      .flash.notice= notice
    - if alert
      .flash.alert= alert

    = yield
    
    %footer.page-footer
      .social
        = social_link :facebook, "https://www.facebook.com/TheNewRuckus"
        = social_link :twitter,  "https://twitter.com/NewRuckusMN"
        -# .sharrre(data-text='The New Ruckus – A support organization for the people who invent new music' data-title='The New Ruckus' data-url='http://newruckus.org')

      .block= render 'shared/mailing_list_signup', header: true
      .block
        %ul.sitemap
          %li
            %b= link_to 'The New Ruckus', root_path
          %li
            = link_to 'Composer Nights', composer_nights_path
            %ul
              %li= link_to 'Sign Up', signup_path 
          %li= link_to 'Music Tech Meetups', music_tech_path
          %li= link_to 'Contact Us', contact_path
