!!!
%html
  %head
    %meta(charset='utf-8')

    %title
      The New Ruckus
      - unless (title = yield(:title)).blank?
        –
        = title
    %link(rel="canonical" href="http://newruckus.org/")
    
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    
    %meta(property="og:site_name" content="The New Ruckus")
    %meta(property="og:title" content="The New Ruckus")
    %meta(property="og:url" content="http://newruckus.org/")
    %meta(property="og:type" content="website")
    %meta(property="og:description" content="A mutual support organization for the people who invent new music. We are composers, improvisers, sound artists and songwriters. Our mission is to help each other achieve a sense of purpose and satisfaction in our musical lives, by providing moral support and practical help in creating our work, getting it heard, and making personal connections through it.")

    %meta(name="description" content="A mutual support organization for the people who invent new music: composers, improvisers, sound artists and songwriters.")
    %link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    /[if lt IE 9]
      = stylesheet_link_tag 'ie', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'html5shiv'
    
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  %body{class: body_classes.join(' ')}
    %nav.top
      %ul
        %li.home= link_to 'The New Ruckus',  root_url
        %li.page= link_to 'Composer Nights', composer_nights_url
        %li.page= link_to 'Music Tech',      music_tech_url
        %li.page= link_to 'Contact',         contact_url
    
    = yield
    
    %footer.bottom
      -# Mailing list
      -# Twitter
      -# FB
